ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(26, 26, 26);
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    color: rgb(250, 250, 250);
  }
  
  /* cambia el color al posicionar el mouse */
  li a:hover {
    background-color: rgb(241, 237, 2);
    color: rgb(26, 26, 26);
  }